node_modules/
dist/
.vscode/
-
*.log
*.tsbuildinfo

docs/references/pretext-magazine-editor/node_modules/
docs/references/pretext-magazine-editor/package-lock.json

docs/assets/*
!docs/assets/main-CkX_C5dT.js
!docs/assets/main-DKvN9Wjq.js
!docs/assets/main-CvPLWmoK.js
!docs/assets/main-ByhLQQC-.js
!docs/assets/main-B7Y95XLN.css
!docs/assets/main-CeD8lNad.css
!docs/assets/local-fonts-DMBg5KN0.js
!docs/assets/local-fonts-9nDOI10w.css
!docs/assets/app-CMaHncRW.js
!docs/assets/app-BqT_H8IN.js
!docs/assets/app-CSv9UoOy.js
!docs/assets/app-DFQoYtIo.js
!docs/assets/pretextComposeBridge-CFpT1Tzr.js
!docs/assets/pretextComposeBridge-DbeqH5hp.js
!docs/assets/pretextComposeBridge-BbXPOEE0.js
!docs/assets/pretext-DfdzSC1m.js
!docs/assets/pretext-dQPf2r6i.css
!docs/assets/10-CNvd6Y-G.png
!docs/assets/11-Dxtb6Ugd.png
!docs/assets/2-DGD0-A0o.png
!docs/assets/3-DPiOyvB5.png
!docs/assets/3-Dju72hyO.png
!docs/assets/4-BOvXQKYy.png
!docs/assets/4-C-ZYPUAR.png
!docs/assets/5-CEZXb3Sg.png
!docs/assets/5-DIfvDXBI.png
!docs/assets/6-BCFVfd2H.png
!docs/assets/6-CdYH4DQg.png
!docs/assets/7-DG2ro5R1.png
!docs/assets/8-B41diQip.png
!docs/assets/8-Byay75Vc.png
!docs/assets/9-iqmZUMlt.png
!docs/assets/okinawa-Bb9t4oey.png
